
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Kanit:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo{
  background-image: url(./assets/logo.png);
  background-size: cover;
  background-position: center;
}

#hero-div{
  background-image: url(./assets/bg-image.avif);
  background-position: center;
  background-size: cover;
  position: relative;
  
}
#hero-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#side,#nv{
  /* font-family: 'Goldman', sans-serif; */
font-family: 'Kanit', sans-serif; 
}

#paradiv{
  font-family: 'Kanit', sans-serif; 
}